nginx:
  image: nginx:alpine
  container_name: nginx
  restart: always
  ports:
    - "80:80"
    - "443:443"
  volumes:
    - ./nginx.conf:/etc/nginx/conf.d/default.conf
    - certbot-etc:/etc/letsencrypt
    - certbot-var:/var/lib/letsencrypt
    - certbot-www:/var/www/certbot
